body{
    font-family: Arial;
}

#logo{
    max-width: 100%;
    display: block;
    width: 200px;
    border-radius: 50%;
    margin: auto;
}

#img{
    max-width: 100%;
    display: block;
    width: 200px;
}

button{
    background: #febe01;
    width: 6px 100px 6px 50px;
    height: 30px;
    padding: 6px 50px 6px 50px;
    margin: 5px;
    border-radius: 4px; 
}


h2{
    color: #febe01;
}

p{
    color: #b2b2b2;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 500px);
    padding: 200px;
    row-gap: 50px;
    justify-content: center;
    align-content: center;
    height: auto;
    column-gap: 50px;
}

.item{
    background-color: #111;
    font-size: 30px;
    padding: 10px;
    text-align: start;
}